.container {
  width: 60px;
  height: 80px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.icon {
  width: 50px;
  height: 50px;
}
.pressable {
  position: absolute;
  min-width: none;
  width: 42px;
  height: 42px;
  z-index: 20;
  margin-top: 5px;
}
.count {
  font-size: 1rem;
  color: '#FBFBFB';
  font-weight: bolder;
}
